<h1><%= @user.email %></h1>
<h2><%= Date.today.strftime('%B') %></h2>


<table class="table table-bordered">
    <tr>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
    <% 5.times do |week| %>
        <tr>
            <% 7.times do |day| %>
                <td class="<%= current_month_class(week, day) %>">
                    <%= day_of_month(week, day) %>
                </td>
            <% end %>
        </tr>
    <% end %>
</table>